<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCRgsy8jTp5P16yHTE-3nTUb0iOn9dDpCY
  &origin={{walkingOrigin}}
  &destination={{origin}}
  &mode=walking"
  allowfullscreen>
</iframe>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCRgsy8jTp5P16yHTE-3nTUb0iOn9dDpCY
  &origin={{origin}}
 &destination={{destination}}
  &mode=bicycling"
  allowfullscreen>
</iframe>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCRgsy8jTp5P16yHTE-3nTUb0iOn9dDpCY
  &origin={{destination}}
  &destination={{walkingDestination}}
  &mode=walking"
  allowfullscreen>
</iframe>
