<!DOCTYPE html>
<html>
  <head>
    <title>Directions</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 60%;
        display: inline-block;
      }
      #instructions {
        display: inline-block;
        width: 39%;
        position: absolute;
        top: 0px;
        font-size: 24px;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="instructions">
      <h1>How Does it Work?</h1><br>
      <ol>
        <li>Point A to B is walking directions from origin to nearest biking dock.</li><br><br>
        <li>Point B to C is bicycling directions from nearest biking dock from origin to nearest biking dock to destination.</li><br><br>
        <li>Point C to D is walking directions from biking dock to destination.</li><br><br>
      </ol>
    </div>
    <script>
      function initMap() {
        // Render Direction Results For Each Leg
        var firstLeg = new google.maps.DirectionsRenderer({suppressMarkers:true, preserveViewport: true});
        var secondLeg = new google.maps.DirectionsRenderer({suppressMarkers: true, suppressBicyclingLayer: true, preserveViewport: true});
        var thirdLeg = new google.maps.DirectionsRenderer({suppressMarkers: true, preserveViewport: true});

        //Create Map
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 34.02, lng: -118.47}
        });

        //Tell Directions Where To Display
        firstLeg.setMap(map);
        secondLeg.setMap(map);
        thirdLeg.setMap(map);

        //Turn Addresses into Coordinates
        coordinates('A', '{{walkingOrigin}}', map)
        coordinates('B','{{origin}}', map)
        coordinates('C','{{destination}}', map)
        coordinates('D','{{walkingDestination}}', map)

        calculateAndDisplayRoute(firstLeg, "WALKING", '{{walkingOrigin}}', '{{origin}}');
        calculateAndDisplayRoute(secondLeg, "BICYCLING", '{{origin}}','{{destination}}');
        calculateAndDisplayRoute(thirdLeg, "WALKING",'{{destination}}','{{walkingDestination}}');
      }

      function coordinates(label, address, map){
        var geocoder =  new google.maps.Geocoder;
        var coordinates;
        geocoder.geocode({'address': address }, function(results, status){
          if (status == 'OK') {
            coordinates = results[0].geometry.location

            //Create Markers
            createMarkers(label, coordinates, map)
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        })
      }

      function createMarkers(label, coordinates, map){
        new google.maps.Marker({
          position: coordinates,
          label: label,
          map: map
        });
      }

      function calculateAndDisplayRoute(leg, travelMode, origin, destination) {
        var directionsService = new google.maps.DirectionsService;
        directionsService.route({
          origin: origin,
          destination: destination,
          travelMode: travelMode 
        }, function(response, status) {
          if (status === 'OK') {
            leg.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
    </script>
  </body>
</html>
