<!DOCTYPE html>
<html>
  <head>
    <title>Directions</title>
    <link rel="stylesheet" type="text/css" href="css/map.css">
  </head>
  <body>
    <div id="map"></div>
    <div id="instructions">
      <h1>How Does it Work?</h1><br>
      <h3>Markers</h3>
      <ul>
        <li>A: Starting Point </li>
        <li>B: Nearest Bike Station to Starting Point</li>
        <li>C: Nearest Bike Station to Destination</li>
        <li>D: Destination</li><br><br>
      </ul>
      <h3>Legs</h3>
      <ol>
        <li>Walk from A to B </li>
        <li>Bike from B to C </li>
        <li>Walk form C to D </li>
      </ol>
    </div>
    <script>
      function initMap() {
        // Render Direction Results For Each Leg
        var firstLeg = new google.maps.DirectionsRenderer({suppressMarkers:true, preserveViewport: true});
        var secondLeg = new google.maps.DirectionsRenderer({suppressMarkers: true, suppressBicyclingLayer: true, preserveViewport: true});
        var thirdLeg = new google.maps.DirectionsRenderer({suppressMarkers: true, preserveViewport: true});

        //Create Map
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 34.02, lng: -118.47}
        });

        //Tell Directions Where To Display
        firstLeg.setMap(map);
        secondLeg.setMap(map);
        thirdLeg.setMap(map);

        //Turn Addresses into Coordinates
        coordinates('A', '{{walkingOrigin}}', map)
        coordinates('B','{{origin}}', map)
        coordinates('C','{{destination}}', map)
        coordinates('D','{{walkingDestination}}', map)

        calculateAndDisplayRoute(firstLeg, "WALKING", '{{walkingOrigin}}', '{{origin}}');
        calculateAndDisplayRoute(secondLeg, "BICYCLING", '{{origin}}','{{destination}}');
        calculateAndDisplayRoute(thirdLeg, "WALKING",'{{destination}}','{{walkingDestination}}');
      }

      function coordinates(label, address, map){
        var geocoder =  new google.maps.Geocoder;
        var coordinates;
        geocoder.geocode({'address': address }, function(results, status){
          if (status == 'OK') {
            coordinates = results[0].geometry.location

            //Create Markers
            createMarkers(label, coordinates, map)
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        })
      }

      function createMarkers(label, coordinates, map){
        new google.maps.Marker({
          position: coordinates,
          label: label,
          map: map
        });
      }

      function calculateAndDisplayRoute(leg, travelMode, origin, destination) {
        var directionsService = new google.maps.DirectionsService;
        directionsService.route({
          origin: origin,
          destination: destination,
          travelMode: travelMode 
        }, function(response, status) {
          if (status === 'OK') {
            leg.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
    </script>
  </body>
</html>
